/* .main-content{
    width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.company__info1{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
    width:15rem;
    height: 15rem;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#008080;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
} */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
}
.main{
	width: 90%;
	height: 75%;
	/* background: lightblue;	 */
	margin: 15px auto;
	outline: none;
	border: none;
	box-shadow: 0 0px 5px rgba(0,0,0,.4);
	border-radius: 15px;
}
.client{
	width: 30%;
	height: 100%;
	background-color: #008080;
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.form
{
	float: left;
	width: 40%;
	height: 100%;
}
.lawyer{
	width: 30%;
	height: 100%;
	background-color: #008080;
	float: left;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
hr{
	width: 80%;
	margin: auto;
}
.form h2{
	font-family: monospace;
	font-size: 35px;
	text-align: center;
	margin:2rem;
}

.root{
	margin: 3rem auto;
	display: block;
	width: 70%;
	padding: 2%;
	border: none;
	border-bottom: 2px solid black;
	outline: none;
}

.submit
{
	width: 40%;
	padding: 2%;
	font-family:sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	margin: 2% 30%;
	outline: none;
	border: none;
	border-radius: 5%;
	cursor: pointer;
	background: linear-gradient(to right, #e52d27, #b31217);
}
h3{
	margin: 5% 22%;
}
.form a{
	text-decoration: none;
	color: green;
}
.main img{
	width: 50%;
	height: 50%;
	margin: 25% 23%;
}
@media only screen and (max-width: 640px) {
	/* .main{width: 90%;} */
	.client,.lawyer{
		display: none;
	}
	hr{
		width: 80%;
		margin: auto;
	}
	.form{
		width: 100%;
	}

	/* .form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	} */
}
/* @media only screen and (min-width: 642px) and (max-width:800px){
	.main{width: 70%;}
	img{
		width: 8rem;
		height: 8rem;
	}
} */
