<div class="rootdash">
<div class="header">
    <div class="title">
        <h1>Happiness</h1>
        <p>A Court case Management Software</p>
    </div>
    <div class="title user" >
        <div>{{user.user.email}}</div>
    </div>
    
</div>
<div class="cards">
    <div class="card">
        <div class="link">
            <a>Add a Case</a>
        </div>
        <div class="logo"><i class="fas fa-gavel"></i></div>
    </div>
    <div ng-click="getAllLawyers()" class="card" style="background-color:rgb(57, 172, 118)">
        <div class="link">
            <a>See Lawyers List</a>
        </div>
    </div>
    <div class="card" style="background-color:rgb(185, 78, 78)">
        <div class="link">
            <a>Edit Profile</a>
        </div>
        <div class="logo"><i class="fas fa-user-circle"></i></div>
    </div>
    <div class="card" style="background-color:rgb(70, 78, 184)">
        <div class="link">
            <a>My Cases</a>
        </div>
    </div>
    <div class="card" style="background-color:rgb(223, 70, 146)">
        <div class="link">
            <a>Rate my Lawyer</a>
        </div>
    </div>
    <div class="card" style="background-color:rgb(92, 210, 240)">
        <div class="link">
            <a>Pay fee</a>
        </div>
        <div class="logo"><i class="fas fa-rupee-sign"></i></div>
    </div>
</div>
<div class="section">
    <div class="sec">
        <div class="heading">
            Upcoming Case Hearings
        </div>
        <div class="content">
            No dates
        </div>
    </div>
    <div class="sec">
        <div class="heading">
            Recent updates
        </div>
        <div class="content">
            No updates
        </div>
    </div>
</div>
<div class="footer">
    <div class="part1">
        <div class="title">
            <h1>Happiness</h1>
            <p>A Court case Management Software</p>
        </div>
    </div>
    <div class="part2">
        <div class="connect_links">
                <i class="fab fa-facebook-f" style="color:rgb(62, 62, 165)"></i>
                <i class="fab fa-youtube" style="color:rgb(238, 52, 39)"></i>
                <i class="fab fa-twitter" style="color:rgb(67, 122, 173)"></i>
        </div>
        <div class="contact">
            <div style="padding-left:20px ">
            <p>For details, Contact:</p>
            <p>courts@happiness.in</p>
            <p>+91 9439839922</p>
            </div>
        </div>
    </div>
</div>
</div>

