<header>
    <nav>
      <h3 id="logo">Happiness</h3>
      <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#getstarted">SignUp</a></li>
              <li><a href ="login.html">SignIn</a></li>
          </ul>
      <span class="hamburger" onclick="cross()" ><i class="fa fa-bars"></i></span>
    </nav>
    <section>
      <div class="hero">
        <!-- <img src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2020/01/27/gavel%20%281%29-1580135790.jpg?itok=tyMExtGf" alt="" /> -->
        <h1 class="headline">Demo</h1>
      </div>
    </section>
  </header>

  <div class="slider"></div>
  <br><br><br><br><br>
  <div class="section1">
      <div class="section11">
          <h2>Features</h2>
      </div>
      <div class="section12">
              <img src="https://img.icons8.com/nolan/150/invoice.png"><br><br>
          <h3>Invoices To Clients</h3><br><br>
          <p>Provide clients to pay bills to the hired lawyers</p>
      </div>
      <div class="section12">
              <img src="https://img.icons8.com/nolan/150/appointment-reminders.png"><br><br>
          <h3>Notification</h3><br><br>
          <p>Lawyers can get notifications about clients</p>
      </div>
      <div class="section12">
              <img src="https://img.icons8.com/nolan/150/star.png"><br><br>
          <h3>Ratings</h3><br><br>
          <p>Clients can hire lawyers according to lawyers ratings</p>
      </div>
      
  </div>
  <div class="section2" id = "getstarted">
      <div class="section21">
          <h1>Get Started</h1>
      </div>
      <a href="#!login"><div class="section22">
          <img src="./img/teamwork.svg" alt="">
          <h2>With Client</h2>
      </div></a>
      <a href="#!login"><div class="section22 lawyer">
              <img src="./img/lawyer.svg" alt="">
              <h2>With Lawyer</h2>
          </div></a>
  </div>
  <footer>
      <div class="footer1">
          <h1>Court Case Management</h1>
      </div>
      <div class="footer2">
          <h3>Software Features</h3>
          <ul>
              <li>Addition of case by clients</li>
              <li>Feedback System</li>
              <li>Rating System</li>
              <li>Payment Gateway</li>
          </ul>
      </div>
      <div class="footer2">
              <h3>Contact Us</h3>
              <ul>
                      <li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+91 7878786382</li>
                      <li><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;demo@gmail.com</li>
                      <li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+917593043920</li>
                      <li><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;ecase@gov.in</li>
                  </ul>
          </div>
          <hr width="90%" style="margin:auto;">
          <div class="footer3">
              <h4>&copy;&nbsp;Made By &lt;Step_Ahead&gt;</h4>
          </div>
  </footer>

