<div class="container">
    <form action="" method="">
      <div class="row">
        <h4>Fill The Details</h4>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Full Name"/>
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input type="email" placeholder="Email Adress"/>
          <div class="input-icon"><i class="fa fa-envelope"></i></div>
        </div>
        <div class="input-group input-group-icon">
            <input type="text" placeholder="Mobile"/>
            <div class="input-icon"><i class="fa fa-phone"></i></div>
          </div>
          <div class="input-group input-group-icon">
              <input type="text" placeholder="License No."/>
              <div class="input-icon"><i class="fa fa-info-circle"></i></div>
            </div>
            <div class="input-group input-group-icon">
                <input type="text" placeholder="Qualification"/>
                <div class="input-icon"><i class="fa fa-mortar-board "></i></div>
              </div>
              <div class="input-group input-group-icon">
                      <input type="text" placeholder="Address"/>
                      <div class="input-icon"><i class="fa fa-map-marker"></i></div>
                    </div>
        <div class="input-group input-group-icon">
          <input type="password" placeholder="Password"/>
          <div class="input-icon"><i class="fa fa-key"></i></div>
        </div>
      </div>
      
      <div class="row">
        <input type="submit" value = "Submit" class = "btn button">
      </div>
  
    </form>
  </div>