<div class="main">
    <div class="client"><img src="./img/teamwork.svg"></div>
    <div class="form">
        <form onsubmit="login(event)">
            <h2>Login</h2>
            <hr>
            <input id="email" type="text" class="root usrname" name = "usrname" placeholder="E-mail">
            <input id="password" type="password" class="root password" placeholder="Password">
            <input type="submit" class="submit" value = "Submit">

            <h3>Do you want to Register?<a href="#!client-signup">SignUp as Client</a><br>
            <a href="#!lawyer-signup">SignUp as Lawyer</a></h3>
        </form>
    </div>
    <div class="lawyer"><img src="./img/lawyer.svg" alt=""></div>
</div>